body {
    max-width: 300px;
    margin-top: 100px;
    margin: auto;
}
h1{
    color: red;
}
p {
    color: grey;
}

h1, p {
    text-decoration: underline;
    border: 1px solid black;
}

#chosen {
    text-transform: uppercase;
}

.rotate {
    transform: rotate(90deg);
}


p::before, 
p::after {
    content: '"';
}

div + p {
    text-transform: lowercase;
}

div p::before,
div p::after {
    content: '';
}

img {
    width: 100%;
    display: block;
}

